/* .top-circle {
    display: inline-block;
    background-color: red;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    position: relative;
    left: 50px;
    margin-top: 30px;
} */

/* Nav Bar */
.nav-bar-container {
    /* display: inline-block; */
    /* background-color: #FFFFFF;  */
    background-color: #FFFFFF;
    /* background-color: #ffea75; */
    
}

.nav-text {
    /* color: #78B7E5; */
    color: #78B7E5;
    font-weight: bold;
}

    
/* .display-4{
    color:#1fb1d6;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
} */

.business{
    border-radius: 15px;
}


/* Jumbotron a.k.a content section */
.jumbotron {
    /* border: 2.5px solid #1fb1d6; */
    background-color: #EA5555;
    /* background-image: linear-gradient(to bottom right, #db3347, white, #20b4d9); */
}

.first-header{
    color: #ffffff; 
    font-weight: bold;
}

.first-p{
    color:#ffffff;
}

.about-Bertrand {
    background-color: #ffffff;
}

.about-Bertrand-h1 {
    color:#78B7E5;
    font-weight: bold;
}

.Bertrand-icon {
    /* display: inline-block;
    position: relative; */
    width: 300px;
    height: 300px;
    /* top: 5px;
    left: 750px; */
}

.testimonials {
    background-color: #78B7E5;
}

.test-video {
    color: #ffffff;
    font-weight: bold;
    font-family: Helvetica;
}

.food {
    background-color: #ffffff;
    ;
}
.jumbotron {
    padding-bottom: 100px;
  }

.cuisine-heading {
    color: #78B7E5;
    font-family: Helvetica;
    font-weight: bold;
}


/* 3-Tier Price Cards */
.card-title {
    /* background-image: linear-gradient(to bottom right, #87CEFA	); */
    /* background-color: #db3347; */
    border-radius: 20px;
}

.card { 
    border-radius: 25px;
    border: 1px solid #1fb1d6;
}

.card-body {
    border-radius: 25px;
    /* border: 1px solid #1fb1d6; */
    /* background-image: linear-gradient(to bottom right, #87CEFA	);  */
}

.btn{
    background-color: #EA5555;
    border-radius: 15px;
    border: 1px solid #EA5555;
    position: relative;
    top: 10px;
    height: 40px;
    width: 150px;
    text-transform: uppercase;
  
  }

.button-font {
    color:#ffffff;
}


 .btn1 {
    top: 98px;
 }

.card{
    width: 13rem; 
    height: 20rem;
}

.chart_best_value {
    display: inline-block;
    /* position: absolute; */
    text-align: center;
    align-items:right;
    width: 85px;
    background: #EA5555;
    border-radius: 60px 60px 0px 0px;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    margin: 0 auto;
    padding: 9px; 
    margin-top: -32px;
    top: 50 px
}

/* SECTION FOR STYLING THE TRICOLORE FIXED THEME NAVBAR  */
#theme-buttons {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0%;
    /* transform: translate(-100px, 0); */
    opacity: 1;
    width: 100px;
    align-items: stretch;
    justify-content: stretch;
}

.business, .kids, .fun {
    border-radius: 15px !important;
    color: black !important;
    border: 2px ridge  #ffffff;
    /* box-shadow: purple 4px -2px 5px; */
    margin: 0 0.25rem;
    font-weight: bold;
    font-family: sans-serif;
    /*  */
    opacity: 1;
   
}

.themer:is(:hover, :focus) {
    box-shadow: rgb(250, 245, 250) 4px -2px 5px 1px;
    border-radius: 15px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.1;
}

.business {
    background-color: #1fb1d6;
}

.kids {
    /* text-shadow: rgb(252, 253, 255) 2px -1px 5px; */
    background-color: rgb(255, 255, 255);
}

.fun {
    background-color: #EA5555;
}

.themer.active  {
    scale: 1.1;
    border-radius: 15px;
    /* box-shadow: rgb(247, 5, 247) 4px -2px 5px 1px; */
    border: 2px ridge #ffffff;
    opacity: 1;
    /* text-shadow: rgb(255, 255, 255) 2px -1px 5px; */
}

.fun.active
{
    background-color: #EA5555 !important;
}

.business.active {
    background-color: #78B7E5 !important;
}

.kids.active {
    background-color: #FFFFFF !important;
    /* text-shadow: rgb(255, 255, 255) 2px -1px 5px; */
}

/* footer */
.footer-color {
    background-color: #ffea75;
}

.fa-brands{
    color: #78B7E5;
}

.fa-envelope {
    color: #78B7E5;
}

.privacy-policy-link {
    color: #78B7E5;
}

.section-heading{
    margin-bottom: 50px;
}

  @media screen and (max-width: 768px) {
    /* styles for tablets and mobile devices */
  
    #book {
      transform: scale(0.8);
    }
  
    #youtube-container {
      transform: scale(0.8);
    }

  }
  @media screen and (max-width: 500px) {

    #real-player {

        width: 360px;
    }

  }
/* END OF SECTION FOR STYLING THE TRICOLORE FIXED THEME NAVBAR  */