.footer-color {
  background-color: #ffea75;
}

.fa-brands {
  color: #78b7e5;
}

.fa-envelope {
  color: #78b7e5;
}

.privacy-policy-link {
  color: #78b7e5;
}

.footer {
  padding: 10px 10px 20px 10px;
}
