.nav-bar-container {
  background-color: #ffffff !important;
}

.nav-text {
  color: #78b7e5 !important;
  font-weight: bold !important;
}

.nav-text:hover {
  color: #154c79 !important;
}

.navbar-toggle:hover {
  color: #154c79 !important;
}

/* .nav-wrapper {
  background-color: #ffffff !important;
} */
