/* 3-Tier Price Cards */
.card-title {
  border-radius: 20px;
}

.card {
  border-radius: 25px !important;
  border: 1px solid #1fb1d6 !important;
  width: 15rem !important;
  height: 25rem !important;
  position: relative;
}

.card-body {
  border-radius: 25px;
}

.rate {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.card-btn {
  background-color: #ea5555;
  border-radius: 15px;
  border: 1px solid #ea5555;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  height: 40px;
  width: 150px;
  text-transform: uppercase;
}

.button-font {
  color: #ffffff;
}

.chart_best_value {
  display: inline-block;
  position: relative;
  text-align: center;
  align-items: right;
  width: 85px;
  background: #ea5555;
  border-radius: 60px 60px 0px 0px;
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  margin: 0 auto;
  padding: 9px;
  margin-top: -32px;
  top: 50 px;
}

a {
  text-decoration: none !important;
}
