.testimonials {
    background-color: #78B7E5;
}

.test-video {
    color: #ffffff;
    font-weight: bold;
    font-family: Helvetica;
}

#testimonials {
    margin-bottom: 125px;
}

.testimonialsTitle {
    color:#78B7E5; 
    font-weight: bold; 
    margin: -18px;  
    font-size: 100px; 
    text-align: center;
    margin-top: 25px;
    font-weight: 450;
    text-stroke: 1px black;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;

}

/* .T {
    color:#EA5555 ;
} */