.testimonials {
    background-color: #78B7E5;
}

.test-video {
    color: #ffffff;
    font-weight: bold;
    font-family: Helvetica;
}

#testimonials {
    margin-bottom: 125px;
}

.testimonialsTitle {
    position: relative;
    top: -8px;
    color:#EA5555; 
    font-weight: bold; 
    margin: -22px;  
    font-size: 4rem; 
    text-align: center;
    margin-top: 25px;
    font-weight: 450;
    

}


@media only screen and (min-width: 600px) {

    .testimonialsTitle {
        font-size: 5rem;
    }
}

@media screen and (max-width: 500px) {

    .testimonialsTitle{
      font-size: 3rem !important;
    }

  }